---
import Layout from "../layouts/Layout.astro";
import ThemeToggles from "../components/ThemeToggles.jsx";
import Hero from "../components/Hero.astro"

---

<Layout>
  <main class="container">
    <ThemeToggles client:load />

    <Hero />
  </main>
</Layout>
