---
import emd from '../assets/emd.svg';
import emdLight from '../assets/emdLight.svg';
---

<main class="hero">
	<a href="https://emd.pages.dev/">
		<img class="logo logo--dark" src={emd.src} alt="Erazo Mu単oz Dise単o" />
		<img class="logo logo--light" src={emdLight.src} alt="Erazo Mu単oz Dise単o" />
	</a>
</main>

<style>
	.logo--light { display: none; }
	:root[data-mode="light"] .logo--dark { display: none; }
	:root[data-mode="light"] .logo--light { display: block; }

	.hero {
		height: 30dvh !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: inherit;
		text-align: center;
	}

	img {
		width: 100% !important;
		height: auto;
	}

</style>
